@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 40 50% 98%;
    --foreground: 40 38% 25%;
    --card: 0 0% 100%;
    --card-foreground: 40 38% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 40 38% 25%;
    --primary: 34 38% 41%;
    --primary-foreground: 40 50% 98%;
    --secondary: 40 30% 95%;
    --secondary-foreground: 40 38% 25%;
    --muted: 40 20% 94%;
    --muted-foreground: 40 3.8% 46.1%;
    --accent: 45 53% 68%;
    --accent-foreground: 40 38% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 40 20% 90%;
    --input: 40 20% 90%;
    --ring: 34 38% 41%;
    --radius: 0.8rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 40 50% 98%;
    --sidebar-foreground: 40 38% 25%;
    --sidebar-primary: 34 38% 41%;
    --sidebar-primary-foreground: 40 50% 98%;
    --sidebar-accent: 40 30% 95%;
    --sidebar-accent-foreground: 40 38% 25%;
    --sidebar-border: 40 20% 90%;
    --sidebar-ring: 34 38% 41%;
  }
  .dark {
    --background: 40 10% 10%;
    --foreground: 40 50% 98%;
    --card: 40 10% 10%;
    --card-foreground: 40 50% 98%;
    --popover: 40 10% 10%;
    --popover-foreground: 40 50% 98%;
    --primary: 34 38% 51%;
    --primary-foreground: 40 50% 98%;
    --secondary: 40 10% 20%;
    --secondary-foreground: 40 50% 98%;
    --muted: 40 10% 20%;
    --muted-foreground: 40 5% 63.9%;
    --accent: 45 43% 58%;
    --accent-foreground: 40 50% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 40 10% 20%;
    --input: 40 10% 20%;
    --ring: 34 38% 51%;
    --chart-1: 40 70% 50%;
    --chart-2: 45 60% 45%;
    --chart-3: 35 80% 55%;
    --chart-4: 48 65% 60%;
    --chart-5: 34 75% 55%;
    --sidebar-background: 40 10% 10%;
    --sidebar-foreground: 40 50% 98%;
    --sidebar-primary: 34 38% 51%;
    --sidebar-primary-foreground: 40 50% 98%;
    --sidebar-accent: 40 10% 20%;
    --sidebar-accent-foreground: 40 50% 98%;
    --sidebar-border: 40 10% 20%;
    --sidebar-ring: 34 38% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
